<!doctype html>
<html>
  <head>
    <title>Websocket proxy demo</title>
  </head>
  <body>
    <h1>Websocket proxy demo</h1>
    <div id="log"></div>
    <br>
    <form id="form">
        <label for="token">Token: </label>
        <input type="text" id="token"><br>
        <label for="text">Input: </label>
        <input type="text" id="text" autofocus><br>
        <input type="submit" value="Send">
    </form>
    <script>
      const log = (text, color) => {
        document.getElementById('log').innerHTML += `<span style="color: ${color}">${text}</span><br>`;
      };

      const tokenField = document.getElementById('token');
      const textField = document.getElementById('text');
      let token;
      let socket;


      function initSocket(token) {
          if (socket) {
            socket.close();
          }
          let protocol = 'wss';
          if (location.protocol !== 'https:') {
              protocol = 'ws';
          }
          socket = new WebSocket(protocol + '://' + location.host + '/socket/' + token);
          socket.addEventListener('message', ev => {
            log('<<< ' + ev.data, 'blue');
          });
      }

      function send() {
        if (tokenField.value !== token) {
          token = tokenField.value;
          initSocket(token);
          log("=== Opened new socket for " + token + " ===", 'grey');
        }
        const text = textField.value;
        socket.send(text);
        log('>>> ' + textField.value, 'red');
        textField.value = '';
      }

      document.getElementById('form').onsubmit = ev => {
        ev.preventDefault();
        send();
      };
    </script>
  </body>
</html>
